/* General Application Styles */

* {
    box-sizing: border-box;
}

input,
select,
button {
    background: #fff;
    margin: 2.5px;
    padding: 5px;
    -webkit-appearance: none;
}

input,
select {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    width: 75%;
}

button {
    border-radius: 10px;
    width: 25%;
}

input:focus,
select:focus,
button:focus,
input:hover,
select:hover,
button:hover {
    border: 1px solid #464646;
    outline: none;
}

/* App Layout Styles */

.app-container-lg {
    background-color: #2196F3;
    display: grid;
    grid-template-areas:
            'topleft topright'
            'bottomleft bottomright';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: auto;
    max-width: 900px;
    padding: 5px;
}

.app-item-lg {
    background-color: rgba(255, 255, 255, 0.8);
    display: grid;
    grid-template-areas:
            'top'
            'middle'
            'bottom';
    grid-template-rows: 4.375rem auto 4.375rem;
    margin: 5px;
    text-align: center;
}

.location-t {
    grid-area: top;
    line-height: 2.0rem;
    padding: 1.25rem;
}

.location-tl {
    grid-area: topleft;
}

.location-tr {
    grid-area: topright;
}

.location-m {
    grid-area: middle;
}

.location-b {
    grid-area: bottom;
    line-height: 2.0rem;
    padding: 1.25rem;
}

.location-bl {
    grid-area: bottomleft;
}

.location-br {
    grid-area: bottomright;
}

.heading-lg {
    font-size: 1.875rem;

}

.heading-md {
    font-size: 1.25rem;
}

/* Table Styles */

table {
    margin: 0 auto 1rem;
    width: 75%;
}

th {background-color: rgba(255, 255, 255, .5);}

th, td {
    border-bottom: 1px solid #ddd;
    padding: .5rem;
    text-align: center;
    width: 50%;
}

tr:hover {}

tr:nth-child(odd) {background-color: #f2f2f2;}

/* Media Selectors */

@media (max-width: 600px) {
    .app-container-lg {
        grid-template-areas:
                'topleft'
                'topright'
                'bottomleft'
                'bottomright';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}