.app-pointboard-location {
    grid-area: topright;
}

.PointBoard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 800px) {
    .PointBoard-container {
        display: block;
    }
}

.PointBoard-pointButton {
    display: inline-block;
    vertical-align: top;
    width: 16.66666666666666666667%;
    padding-left: 0;
    padding-right: 0;
}
