.app-room-location {
    grid-area: bottomleft;
}

.Room-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Room-userContainer,
.Room-scoresContainer {
    width: 390px;
    display: inline-block;
    vertical-align: top;

}

.Room-heading {
    font-size: 30px;
    margin: 20px;
}

.Room-userList {
    list-style-type: none;
    padding: 0;
}

.Room-userListItemNameContainer {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    width: calc(100% - 50px);
}

.Room-userListItemScoreContainer {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 50px;
}

.Room-hiddenScore {
    background: #000000;
    text-align: center;
}

.Room-hiddenScore::after {
    content: ".";
    color: #000000;
}

.Room-hiddenScore.decided::after {
    content: "\2713";
    color: #ffffff;
}

.Room-removeUserLabel {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}

.Room-changeNameBtn {
    font-size: 15px;
    vertical-align: middle;
}

.Room-table {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
}

.Room-th {
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px solid;
    position: relative;
    cursor: default;
}

.Room-td {
    padding: 10px;
    border-bottom: 1px solid;
    position: relative;
    cursor: default;
}

